# Ignorar o ambiente virtual
.env
venv/
mlruns/

# Ignorar arquivos de configuração específicos do sistema
*.DS_Store                    # Arquivo do sistema operacional macOS
Thumbs.db                     # Arquivo de cache do Windows Explorer