# Ignorar o ambiente virtual
.env
venv/

# Ignorar modelos treinados
models/*                       # Diretório onde os modelos treinados são salvos

# Ignorar arquivos de configuração específicos do sistema
*.DS_Store                    # Arquivo do sistema operacional macOS
Thumbs.db                     # Arquivo de cache do Windows Explorer